
{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="display-4 text success">Working</h1>


<footer>
    <div class="surf-footer-container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <a href="" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
              <a href="" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
              <a href="" class="social-icon"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
    </div>
</footer>

{% endblock %}