{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Font Icons -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Lato:wght@300&family=Prompt&family=Roboto:wght@300&display=swap" rel="stylesheet">
    {% endblock %}
    
    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <!--jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

        <title>Surf Center & Shop{% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top"></header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="" class="navbar-brand">Surf Center & Shop</a>
        <form method="GET" action="" class="search-form">
          <div class="input-group">
              <input class="form-control border rounded-left" type="text" name="q" placeholder="Search our site" aria-label="Search">
              <div class="input-group-append">
                  <button class="btn btn-outline-primary rounded-right" type="submit">
                      <i class="fas fa-search"></i>
                  </button>
              </div>
          </div>
      </form>
      <div class="ml auto user-icons">
        <a href="" class="my-account-link">
          <i class="fas fa-user"></i>My Account
        </a>
        <a href="" class="shopping-basket-link">
          <i class="fas fa-shopping-basket"></i>
        </a>
      </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                  All Products and Services
              </a>
                <div class="dropdown-menu">
                  <a class="menu-item" href="">By Price</a>
                  <a class="menu-item" href="">By Rating</a>
                  <a class="menu-item" href="">By Category</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                  Surfing Equipement
              </a>
                <div class="dropdown-menu">
                  <a class="menu-item" href="">Surfboards</a>
                  <a class="menu-item" href="">Wetsuits</a>
                  <a class="menu-item" href="">Water Boots</a>
                  <a class="menu-item" href="">Ponchos</a>
                  <a class="menu-item" href="">Second Hand</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                  Special Offers
              </a>
                <div class="dropdown-menu">
                  <a class="menu-item" href="">New Arrivals</a>
                  <a class="menu-item" href="">Deals</a>
                  <a class="menu-item" href="">Clearance</a>
                  <a class="menu-item" href="">Secondhand</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                  Lessons
              </a>
                <div class="dropdown-menu">
                  <a class="menu-item" href="">Individual Lessons</a>
                  <a class="menu-item" href="">Group Lessons</a>
                  
                </div>
            </li>
          </ul>
        </div>
        
      </nav>
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}


    

    
  </body>
</html>