
{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="hero-section">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-6 offset-lg-6">
          <div class="hero-text">
            <h1>Surf with Us!</h1>
            <p>Lessons and Surfing Gear for everyone!</p>
          </div>
        </div>
      </div>
    </div>
  </section>


<footer>
    <div class="surf-footer-container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center footer-social-icons">
              <a href="https://www.facebook.com/profile.php?id=61554421701370" target="_blank" rel="noopener" class="social-icon" aria-label="Link to Facebook" ><i class="fa-brands fa-facebook"></i></a>
              <a href="https://twitter.com/" target="_blank" rel="noopener" class="social-icon" aria-label="Link to Twitter"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="https://www.instagram.com/" target="_blank" rel="noopener" class="social-icon" aria-label="Link to Instagram"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://www.tiktock.com/" target="_blank" rel="noopener" class="social-icon" aria-label="Link to TikTock"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
    </div>
</footer>

{% endblock %}