<div class="toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto">Done!</strong>
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        {{ message }}        
    </div>
    <div class="bag-notification-wrapper">
        {% for item in bag_items %}
        <div class="row">
            <div class="col-3 my-1">
                {% if item.item_type == 'product' %}
                    {% if item.product.image %}
                        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                    {% endif %}
                {% elif item.item_type == 'service' %}
                    {% if item.service.image %}
                        <img class="w-100" src="{{ item.service.image.url }}" alt="{{ item.service.get_type_display }}">
                    {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.service.get_type_display }}">
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>