/* Base style */

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #323031;
    margin: 0;
    background: #85C7F2;
    padding: 0;
    box-sizing: border-box;

}


/* Header and navigation style*/

header {
  
}

.navbar-brand {
    font-family: 'Cabin Sketch', cursive;
    font-size: 3em;
    color: #fb8b24;
    margin-left: 1em;
    margin-right: 1em;
}

/* Nav Style */

nav {
    background-color: #323031;
}

nav .navbar-nav .nav-link {
    color: #323031
}

nav .navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color: #17a2b8;
}

.fas {
    color: #e9fb24;
}

.search-form .form-control {
    border: 0,
}

.search-form .btn {
    background-color: #fb8b24;
}

.badge-info {
    background-color: #85C7F2;
}