/* Base style */

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* Header and navigation style*/

.container-row1 {
    background-color: #ff7043; 
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.surf-navbar-brand {
    font-family: 'Cabin Sketch', cursive;
    font-size: 3em;
    color: #205072;
}

.search-form {
    flex-grow: 2;
    margin-right: 20px;
}

.search-form .input-group {
    width: 100%;
}

.surf-user-icons {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.surf-user-icons a {
    color: #205072; 
    font-size: 1.2em;
    margin-left: 15px;
}


/* Nav Style */

.surf-navbar {
    background-color: #329D9C ;
}

.surf-navbar .nav-link {
    color: #f0f8ff;
}

.surf-navbar .nav-item .dropdown-menu {
    background-color: #f0f8ff;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.surf-navbar .nav-item .dropdown-menu .dropdown-item {
    color: #205072;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.surf-navbar .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #ff7043;
    color: #ffffff;
}

.surf-navbar .nav-item .dropdown-menu {
    margin-top: 0.5em;
}


/* Search Form */

.surf-search-form input[type="text"] {
    border: 1px solid #205072;
    color: #333;
}

.surf-search-form button {
    background-color: #205072;
    color: #ffffff;
}

/* Index page body style */

.hero-section {
    background: url('../../media/pexels-daniel-torobekov-15036515.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }

  .hero-text h1 {
    color: #ff7043;
    text-align: right;
    padding-right: 10px;
    font-size: 4em;
    font-weight: bold;
    font-family: 'Cabin Sketch';
  }

  .hero-text p {
    color: #ff7043;
    text-align: right;
    padding-right: 10px;
    font-size: 3em;
    font-weight: bold;
  }

/* Footer Styles */

footer {
    background-color: #205072;
    padding:20px 0;
    color: #ffffff;
}

.surf-footer-container .social-icon {
    font-size: 30px;
    margin: 0 50px;
    color: #ff7043;
    transition: color 0.3s ease, transform 0.3 ease;
    vertical-align: middle;
}

.surf-footer-container .social-icon:hover {
    transform: scale(1.5);
}


.btn {
    background-color: #205072;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #329D9C;
    border-color: #329D9C;
    cursor: pointer;
}

input[type='text'], input[type='email'], textarea {
    border: 1px solid #ccc;
    padding: 10px;
    transition: border-color 0.3s ease;
}

input[type='text']:focus, input[type='email']:focus, textarea:focus {
    border-color: #329D9C;
}

/* Overlay for displaing product detail */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
}

/* Image card style */

.card {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: contain;
    
} 

/* Badge style */

.category-badge {
    display: inline-block;
    margin: 5px;
}

.category-badge .badge {
    background-color: #329D9C;
    color: #f0f8ff;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.category-badge .badge:hover {
    background-color: #205072;
    transform: scale(1.05);
}

/* back to top arrow style */

.btt-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    width: 50px;
    height: 100px;
    background-color: #205072;
    border-radius: 25px;
    box-shadow: 0, 4px, 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.btt-link {
    color: #f0f8ff;
    font-size: 24px;
}

.btt-link:hover {
    color: #ff7043;
    cursor: pointer;
}

.btt-button::before {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 5px;
    background: repeating-linear-gradient(
      45deg,
      #f0f8ff,
      #f0f8ff 10px,
      #329D9C 10px,
      #329D9C 20px,
    );
}

/* Allauth Style */

.allayth-form-inner-content p {
    margin-top: 1em;
    color: #205072;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #f0f0f0;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #f0f0f0;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #f0f0f0;
    background-color: #333;
    border-color: #333;
}

.allauth-form-inner-content a {
	color: #329D9C; 
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}
